@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Public Sans", sans-serif;
  --prata-regular: "Prata", serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--prata-regular);
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}
blockquote {
    font-family: var(--prata-regular);
    font-style: italic;
    line-height: 1.2;
}
  h1{
        font-size: 64px !important;
    }
    body ,.button{
    font-family: var(--font-sans);
      line-height: 1.2;
      font-weight: 400;
}
