h2,h3{
    font-size: 24px;
    line-height: 1.5;
}
h2{
    color:var(--gold-color);
      padding-bottom:5px ;
      margin-bottom: 15px;
}
li{
    padding-top:5px;
}
a,p {
    font-size: 16px;
    line-height: 28px;
}
.news-txt p{
    max-width:200px;
}
.logo-txt p{
    max-width:400px
}
.news-txt{
    flex-basis: 40%;
}

.logo-txt{
    flex-basis: 60%;
}