
@tailwind utilities;
@import "tailwindcss/preflight";

/* small utility to show skip-to-content */
.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  padding: 8px;
  background: white;
  color: black;
  z-index: 999;
}
